/* Go to about:config and set the pref
toolkit.legacyUserProfileCustomizations.stylesheets
to true */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
browser[blank], browser[pendingpaint] {
	opacity: 1 !important;
}

#TabsToolbar { visibility: collapse !important; } /* Hide Firefox's default tab bar. */

#sidebar-header {
  display: none;
}
#sidebar-splitter {
  width: 0 !important;
}
#main-window #appcontent {
  margin-right: 39px
}
#main-window #sidebar-box {
  right: 0;
	position: fixed;
  display: block;
  min-width: 0px !important;
  max-width: none !important;
  width: 39px !important;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 8px 0 #00000064, 1px 0 0 0 #212121;
  transition: all 0.12s;
}
#main-window #sidebar {
  position: absolute;
  min-width: 0px !important;
  max-width: none !important;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  width: 39px;
  height: 100%;
}

/* Completely (almost) hide in fullscreen */
#main-window[inFullscreen] #appcontent {
  margin-left: 1px
}
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar {
  width: 1px !important;
}

/* Show on hover */
#main-window #sidebar-box:hover,
#main-window[inFullscreen] #sidebar-box:hover,
#main-window #sidebar-box:hover #sidebar,
#main-window[inFullscreen] #sidebar-box:hover #sidebar {
  height: 100% !important;
  width: 225px !important;
}
#main-window #sidebar-box:hover #sidebar:before {
  transform: translateX(-100%);
}



/* Purely aesthetic changes below */


#pocket-button-box,
#pageActionButton,
#pageActionSeparator,
.urlbar-go-button
{
    display: none !important;
}

toolbarspring { -moz-box-flex: unset !important;}

/* Remove back button circle */
#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
background: transparent !important;
border: none !important;
box-shadow: none !important;
}

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
border: none !important;
border-radius: 2px !important;
}

#back-button {
	fill-opacity: 1 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.toolbarbutton-1 { opacity: 1 !important;}
